/* ID Specific CSS */
#side-bar {
    flex: 1;
    padding: 10px;
}

#module-area {
    flex: 5;
}

.dir-button {
    background-color: slategray;
}

.file-button {
    background-color: white;
}

.btn {
    border: solid black 1px;
    margin: 5px 5px 5px 5px;
    width: 75px;
}